%p
  %label Email
  = form.text_field :email
%p
  %label Confirm email
  = form.text_field :email_confirmation
%p
  %label Display name (optional)
  = form.text_field :display_name
%p
  %label Password
  = form.password_field :password
%p
  %label Confirm password
  = form.password_field :password_confirmation