%h1 New signup
= error_messages_for :signup

- form_for(:signup, :url => signups_path) do |form|
  %p
    %label Ip Address
    = form.text_field :ip_address, :disabled => true
  %h3 New user details
  = render :partial => 'users/form', :locals => {:form => form}
  %p= submit_tag 'Create'

= link_to 'Back', signups_path