%h1= "Listing #{resources_name.titleize}"

%table
  %tr
    %th User
    %th Type
    %th Ip address
    %th Created at
    = render_sti_collection "resource", resources

= link_to "New #{resource_name.humanize}", new_resource_path
- if resources_name != 'events'
  = link_to "Events", events_path