%p
  %b User:
  = h resource.user_id
%p
  %b Type:
  =h resource.type
%p
  %b Ip address:
  = h resource.ip_address
%p
  %b Created at:
  = h resource.created_at

%p
  = link_to 'Edit', edit_resource_path(resource)
  = link_to resources_name.humanize, resources_path
  = link_to 'Events', events_path